/*Estilos ana */

.Estilo1 {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color:#99CCCC;
}
.Estilo2 {
	color: #0000FF;
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
